.box{
    padding: 1rem;
    // border: 2px solid red;
    flex: 1;
    // box-shadow: $shadow;
}

#box1{
    background: $primary;
    color: $dark;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box1 h1{
    text-align: center;
}

#box1 p{
    font-size: 20px;
}

#box1 img{
    padding: 2rem 0rem;
    // position: relative;
    width: 80vh;
    filter: drop-shadow($shadow);
}